{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>About Page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, amet voluptatum. Expedita neque possimus asperiores mollitia blanditiis assumenda placeat quasi corporis! Sapiente repellendus non, esse eos officiis necessitatibus eum eaque?
            </p>
        </div>

        <div class="col-4">
            <img src="assest/img/gio.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer }}

